<html>
<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    tr{
    text-align:center;
    }
</style>
     <script>
    $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );
</script>
   <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src=" https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src=" https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href=" https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
</head>
<h2 style="font-weight:bold;margin-left:25%">See Book details</h2>
<div class="container" style="margin-top:3%">
<table class="table table-hover" id="example">
    <thead>
    <tr style="background-color : #000080 ; color:white">
        <th>Sr. no</th>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Genre</th>
         <th>Language</th>
    </tr>
    </thead>
    <tbody >
    {% for i in book %}
    <tr style="background-color:#DEB887">
        <td>{{forloop.counter}}</td>
        <td>{{i.Book_name}}  </td>
        <td>{{i.Author}}</td>
        <td>{{i.Genre}}</td>
        <td>{{i.Language}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

</html>