<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <title>Book</title>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form class="container mt-5" method="post">
    {% csrf_token %}
    <section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Add Book</h3>
                    <form action="#">
                        <fieldset class="p-4">
                            <input type="text" placeholder="Bookname" class="border p-3 w-100 my-2" name="bname">
                            <input type="text" placeholder="Author Name" class="border p-3 w-100 my-2" name="aname">
                            <input type="text" placeholder="Genre" class="border p-3 w-100 my-2" name="gen">
                            <input type="text" placeholder="Language" class="border p-3 w-100 my-2" name="lan">
                             <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Add</button>